body {
  background: #757f79;
  overflow: hidden;
}

.top-bar {
  background-color: rgb(28, 69, 28); /* #1c3015 Rosie red */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e9ca76; /* gold highlight */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(121, 143, 121);
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  background: rgb(176, 197, 145);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3 {
  color: grey;
  font-weight: 800;
  margin-bottom: 20px;
}
form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: white;
  font-size: 16px;
}
form button {
  padding: 15px;
  background: rgb(222, 211, 193);
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
