html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background-color: rgb(238, 222, 205);
}

.top-bar {
  background-color: rgb(233, 186, 57);
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 3rem;
  margin: 0;
}
.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e9ca76; /* gold highlight */
}
.site-header h1 {
  display: flex;
  color: rgb(120, 67, 21);
  justify-content: center;
  align-items: center;
  height: 120px;
}
